/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #000;
  --heading-color: #a72626;
  --body-color: #aa3030;
  --accent-color: #f72e38;
  --blue-color: #971313;
  --gray-color: #e8edf0;
  --border-color: #dddddd;
  --heading-font: 'Poppins', sans-serif;
  --body-font: 'Rubik', sans-serif;
}
